<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- <style>
    .modal-body {
      padding: 0 4rem
    }

    .modal-footer {
      justify-content: space-between;
    }
  </style> -->
</head>

<body ng-app="cinema" ng-controller="homeController">
  <header>
    <div class="header1">
      <img src="/images/Logo-white.png" class="logo" />
    </div>
    <div class="header2">
      <div class="header2-1">
        <% if (!email) { %>
        <a  class="h1" data-toggle="modal" data-target="#signupModal">
          <i class=" fas fa-user-plus icon-menu icon-user"></i>
          ĐĂNG KÝ
        </a>
        <a href="/signin" class="h1" data-toggle="modal" data-target="#signinModal">
          <i class="fas fa-sign-out-alt icon-menu icon-sign-out"></i>
          ĐĂNG NHẬP
        </a>
        <% } else {%>
        <a href="" class="h1" ng-click="dangXuat()">
          <i class="fas fa-sign-out-alt icon-menu icon-username"></i>
          ĐĂNG XUẤT
        </a>
        <a href="/taophimmoi" class="h1">
          <i class="fas fa-upload fa-lg icon-menu icon-upload"></i>
          TẠO PHIM MỚI
        </a>
        <a href="" class="h1">
          <i class="fas fa-user icon-menu icon-username"></i>
          {{username}}
        </a>
        <%}%>
      </div>
      <div class="header2-2">
          <a class="h1" href="/" >
              <i class=" fas fa-home icon-menu icon-home"></i>
              TRANG CHỦ
          </a>
          <!-- <a href="/">
        <i class="fas fa-home icon-home icon"></i>
          </a> -->
        <!-- <i class="fas fa-arrow-circle-left icon-back icon"></i> -->
      </div>
    </div>
  </header>

  <div class="content">
    <div class="content-chung">
      <div class="content-con" ng-repeat="movie in movies">
        <div class="content-con-1">
          <img
            src="{{movie.hinhMinhHoa || 'https://ae01.alicdn.com/kf/HTB1gfbapy0TMKJjSZFNq6y_1FXah/Star-Wars-The-Last-Jedi-Movie-Poster-Episode-VIII-2017-Film-Art-Silk-Fabric-Poster-36.jpg'}}"
            class="content-img">
          <div class="content-p">
            <p>Tên phim: {{movie.tenPhim}}</p>
            <p>Thể loại: {{movie.theLoai}}</p>
            <p>Ngày phát hành: {{movie.thoiGianPhatHanh | date: 'dd/MM/yyyy'}}</p>
            <p>Mô tả: {{movie.moTa}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Đăng ký -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupleModalLabel">đăng ký</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="tennguoidung-for" class="col-form-label">Tên người dùng:</label>
              <input type="text" class="form-control" id="tennguoidung-id" ng-model="user.tenDangNhap">
            </div>
          </form>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="email-for" class="col-form-label">Địa chỉ email:</label>
              <input type="email" class="form-control" id="email-id" ng-model="user.email">
            </div>
          </form>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="matkhau-for" class="col-form-label">Mật khẩu:</label>
              <input type="password" class="form-control" id="matkhau-id" ng-model="user.matKhau">
            </div>
          </form>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="xacnhanmatkhau-for" class="col-form-label">Xác nhận mật khẩu:</label>
              <input type="password" class="form-control" id="xacnhanmatkhau-id" ng-model="user.xacNhanMatKhau">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Huỷ</button>
          <button type="button" ng-click="dangKy()" class="btn btn-primary">Tạo Tài Khoản</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Đăng nhập -->
  <!-- <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signinleModalLabel">đăng nhập</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="emaildangnhap-for" class="col-form-label">Địa chỉ email:</label>
              <input type="email" class="form-control" id="emaildangnhap-id" ng-model="user.email">
            </div>
          </form>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="matkhaudangnhap-for" class="col-form-label">Mật khẩu:</label>
              <input type="password" class="form-control" id="matkhaudangnhap-id" ng-model="user.matKhau">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Huỷ</button>
          <button type="button" ng-click="dangNhap()" class="btn btn-primary">Đăng nhập</button>
        </div>
      </div>
    </div>
  </div> -->


  <footer>
    <p1>Copyright © Cinema Website 2017-2018</p1>
  </footer>

</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

<script src="/javascripts/home.js"></script>
<script src="/javascripts/cookie.js"></script>