<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="/images/1favicon_1.png" />
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- <style>
    .modal-body {
      padding: 0 4rem
    }

    .modal-footer {
      justify-content: space-between;
    }
  </style> -->
</head>

<body ng-app="cinema" ng-controller="homeController">

  <header>
    <div class="header-cha">

        <% if (!email) { %>
          <% } else {%>

      <div class="h3">
        <a class="profile" href="/user/profile">
          <i class="fas fa-user icon-menu icon-username"></i>
          {{username}}
        </a>
      </div>
      <%}%>
      
      <div class="header-logo">
        <h class="h1">
          <img src="/images/logo cinema hot.png" class="logo" />
        </h>
      </div>

      <div class="h2">
        <a class="a1 trangchu" href="/">
          TRANG CHỦ
        </a>
        <% if (!email) { %>
        <a class="a1 dangnhap" href="/signin">
          ĐĂNG NHẬP
        </a>
        <a class="a1 dangky" href="/signup">
          ĐĂNG KÝ
        </a>
        <% } else {%>
        <a href="/movie/create" class="a1">
          TẠO PHIM MỚI
        </a>
        <a href="" class="a1" ng-click="dangXuat()">
          ĐĂNG XUẤT
        </a>
        <%}%>
      </div>
      <div class="h1-search">
          <input class="search" type="text" placeholder="search" id="search" ng-model="searchValue">
        </div>
    </div>
    </div>
  </header>

  <div class="content">
    <div class="content-chung">
      <div class="content-con" ng-repeat="movie in movies">
        <a href="/movie/{{movie._id}}">
          <div class="content-con-1">
            <img
              ng-src="{{movie.hinhMinhHoa ? '/images/upload/' + movie.hinhMinhHoa : 'https://ae01.alicdn.com/kf/HTB1gfbapy0TMKJjSZFNq6y_1FXah/Star-Wars-The-Last-Jedi-Movie-Poster-Episode-VIII-2017-Film-Art-Silk-Fabric-Poster-36.jpg'}}"
              class="content-img">
            <div class="content-p">
              <p class="p1">Tên phim: {{movie.tenPhim}}</p>
              <p class="p1">Thể loại: {{movie.theLoai}}</p>
              <p class="p1">Ngày phát hành: {{movie.thoiGianPhatHanh | date: 'dd/MM/yyyy'}}</p>
              <p class="p1">Mô tả: {{movie.moTa}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-cha">
      <p1>Copyright © Cinema Website 2017-2018</p1>
    </div>
  </footer>

</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

<script src="/javascripts/home.js"></script>
<script src="/javascripts/cookie.js"></script>