<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/signin.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

</head>

<body ng-app="cinema" ng-controller="homeController">
  <header>
    <div class="header-cha">
      <div class="header-con">
        <h class="h1">
          <img src="/images/Artboard 58.png" class="logo" />
        </h>
        <h class="h2">
          <a class="a1 trangchu" href="/">
            TRANG CHỦ
          </a>
          <a class="a1 dangnhap" data-toggle="modal" data-target="#signinModal" href="/signup">
            ĐĂNG NHẬP
          </a>
          <a class="a1 dangky" data-toggle="modal" data-target="#signupModal">
            ĐĂNG KÝ
          </a>
          <!-- <a href="" class="h1" ng-click="dangXuat()">
          <i class="fas fa-sign-out-alt icon-menu icon-username"></i>
          ĐĂNG XUẤT
          <a href="" class="h1">
            <i class="fas fa-user icon-menu icon-username"></i>
            {{username}}
          </a>
        </a>
        <a href="/taophimmoi" class="h1">
          TẠO PHIM MỚI
        </a> -->
        </h>
      </div>
    </div>
  </header>

  <div class="content-cha">
    <div class="content">
      <div class="content-top">
        <b class="b1">welcome to</b>
        <b class="b1">
          <img src="/images/Logo Icon In App 2 copy 4.png" class="img-logo" />
        </b>
      </div>
      <div class="content-bottom">
        <div class="content-bottom-con1">
          <input class="input-signin" type=”text” name=”hoten” placeholder="Email" ng-model="user.email">
          <input class="input-signin" type=”text” name=”hoten” placeholder="Mật Khẩu" ng-model="user.matKhau">
        </div>

        <b class="b2">
          <button id="bnt-dangnhap" ng-click="dangNhap()">
            <i class="fas fa-sign-out-alt icon-menu icon-dangnhap"></i>
            ĐĂNG NHẬP
          </button>
        </b>
      </div>
    </div>
  </div>
  <footer>
    <p1>Copyright © Cinema Website 2017-2018</p1>
  </footer>

</body>

</html>