<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/signup.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

</head>

<body ng-app="cinema" ng-controller="signupController">
  <header>
    <div class="header-cha">
      <div class="header-con">
        <h class="h1">
          <img src="/images/logo cinema hot.png" class="logo" />
        </h>
        <h class="h2">
          <a class="a1 trangchu" href="/">
            TRANG CHỦ
          </a>
          <a class="a1 dangnhap" href="/signin">
            ĐĂNG NHẬP
          </a>
          <a class="a1 dangky" href="/signup">
            ĐĂNG KÝ
          </a>
        </h>
      </div>
    </div>
  </header>

  <div class="content-cha">
    <div class="content">
      <div class="content-top">
        <b class="c1">welcome to cinema</b>
        <b class="c2">hãy điền đầy đủ thông tin!</b>
      </div>

      <div class="content-bottom">
        <div class="content-bottom-con1">
          <b class="c3">
            Tên người dùng:
          </b>
          <br />
          <input class="input-signin" type=”text” name=”hoten” ng-model="user.tenDangNhap">
          <br />
          <b class="c3">
            Email:
          </b>
          <br />
          <input class="input-signin" type=”text” name=”hoten” ng-model="user.email">
          <br />
          <b class="c3">
            Mật khẩu:
          </b>
          <br />
          <input class="input-signin" type="password" name=”hoten” ng-model="user.matKhau">
          <br />
          <b class="c3">
            Xác nhận lại mật khẩu:
          </b>
          <br />
          <input class="input-signin" type="password" name=”hoten” ng-model="user.xacNhanMatKhau">
        </div>

            <b class="b2">
                <button id="bnt-dangky" ng-click="dangKy()">
                  <i class="fas fa-sign-out-alt icon-menu icon-dangky"></i>
                  ĐĂNG KÝ
                </button>
              </b>
      </div>
    </div>
  </div>


  <footer>
      <div class="footer-cha">
        <p1>Copyright © Cinema Website 2017-2018</p1>
      </div>
    </footer>

</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>


<script src="/javascripts/signup.js"></script>
<script src="/javascripts/cookie.js"></script>