viehtml {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
   padding:0;
   height:100%;
}

header{
  margin: 0 auto;
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}
.header-cha{
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/87098056441325324/ACEBC327098FA0F8E4A56E4FD7BB1CE37C7D2674/);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.header-con{
  float: left;
  width: 100%;
  height: 50%;
  margin-top: 15px;
}

.h1{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130%;
  margin-bottom: 15px;
}

.logo{
    margin-left: 5px;
    width: 220px;
    height: 190px;
}

.h2{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 22%;

}

.a1{
  line-height: 38px;
  margin-left: 10px;
  margin-right: 10px; 
  padding: 0 25px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: lighter;
  text-transform: uppercase;
}


.a1:hover{
  background: #6B90BF;
  cursor: pointer;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;


}

.danhsachphim{
  background-color: #6B90BF;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.h3{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  color: white;

}

.a2{
  line-height: 38px;
  margin-left: 10px;
  margin-right: 10px; 
  padding: 0 25px;
  font-size: 15px;
  text-decoration: none;
  font-weight: lighter;
}



.title4{
  text-align: center;
  font-size: 30px;
  color: #6B90BF;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: bold
}

.div-chung{
  float: left;
  min-height: 500px
}

.div-left{
  width: 48%;
  height: 100px;
  position: relative;
  margin-top: 30px;
}

.div-right{
  width: 52%;
}

.form{
  display: grid;
  margin-top: 15px;
  font-size: 16px;
  padding-left: 9%;
}

.form > input {
  width: 61%;
  height: 35px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 16px;
}
.text{
  height: 25px;
  width: 45%;
  margin-top: 5px;
  padding-left: 5px;
}
.input-chung1{
  width: 61%;
}
.text2{
  float: right;
}
.form > select ,
.form > div > select{
  width: 61%;
  height: 35px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 14px;
}
.form > div > select{
  width: 45%;
  height: 35px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 14px;
}
.form > textarea {
  width: 61%;
  height: 100px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 14px;
  font-style: italic;
  color: #636466
}

.form > div > input{
  width: 65.5%;
  height: 35px;
  margin-top: 5px;
  font-size: 14px;
  padding-left: 5px;

}

.header3{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 30px;


}

#tao-phim-btn{
  width: 150px;
  height: 40px;
  background: linear-gradient(90deg ,#215769,#033e52);
  border-radius: 28px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;

}

.tao-phim-btn-icon{
  transform: scale(0.87);
  /* color: #404859; */
  color: white;
  float: left;
  margin-left: 12px;
  margin-top: 2px;

}
#dang-nhap-btn{
  width: 160px;
  height: 40px;
  background: linear-gradient(90deg ,#215769,#033e52);
  border-radius: 28px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  margin-left: 30px;

}
.dang-nhap-btn-icon{
  transform: scale(1.3);
  /* color: #404859; */
  color: white;
  float: left;
  margin-left: 8px;
  /* margin-top: 2px; */

}

#tao-phim-btn:hover,
.tao-phim-btn-icon:hover,
#dang-nhap-btn:hover,
.dang-nhap-btn-icon:hover,
#chamh-btn:hover{
  background: #dadee8;
  cursor: pointer;
}

#chamh-btn{
  width: 280px;
  height: 45px;
  background: linear-gradient(90deg ,#215769,#033e52);
  border-radius: 28px;

  font-size: 18px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 0%;
  left: 42%;

}

.chamh-btn-icon{
  transform: scale(0.87);
  /* color: #404859; */
  color: white;
  float: left;
  margin-left: 12px;
  margin-top: 2px;
}
.img-chamh{

  height: 70%;
  width: 70%;
  margin-left: 28%;
}
.img-chamh-div{
  position: absolute;
  bottom: 80px;
  border-color: #9CAFD9;
  border-width: 5px;
}
.footer-div{
  background-color: #9CAFD9;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  float: left;
}


    

footer { 
  margin: 0 auto;
  float: left;
  width: 100%;
  height: 70px;
  margin-top: 50px;
      
}
  
.footer-cha{
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/87098056441325324/ACEBC327098FA0F8E4A56E4FD7BB1CE37C7D2674/);
  transform: scale(-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -400px;
}
  
p1 {
  color: white;
  line-height: 60px;
  display: flex;
  justify-content: center;
  transform: scale(-1);
}