html {
    height: 100%;
}
  
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin:0;
     padding:0;
     height:100%;
}
header{
    margin: 0 auto;
    width: 100%;
    height: 560px;
}
.header-cha{
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://vignette.wikia.nocookie.net/test123321/images/0/0e/Community-header-background/revision/latest?cb=20181121173213);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header-con{
    float: left;
    width: 100%;
    height: 50%;
    margin-top: 25px;
}
.h1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin-bottom: 15px;
}
.logo{
    transform: scale(0.8);
}
.h2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 13%;

}
.a1{
    line-height: 38px;
    margin-left: 10px;
    margin-right: 10px; 
    padding: 0 25px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.dangky{
    background-color: #215769;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}

  
.a1:hover{
    background: #215769;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    font-weight: bold;
}

.icon-menu{
    padding: 0 3px;
}

.icon-user{
    zoom: 1.2;
}

.icon-sign-out{
    zoom: 1.4;
    position: relative;
    top: 2px;
}

.icon-upload{
    zoom: 0.9;
}

.icon-username{
    transform: scale(1.3);
    margin-right: 4px;
}

.icon-home{
    zoom: 1.4;  
}


.content-cha{
    float: left;
    width: 100%;
    display: flex;
    margin: 100px 0;
}

.content{
    float: left;
    background-color: white;
    box-shadow: 0px 0px 7px #8c8c8c;
    width: 600px;
    height: 650px;
    margin: 0 auto;
}

.content-top{
    float: left;
    height: 20%;
    width: 100%;
    /* margin-top: 30px; */
}

.content-bottom{
    float: left;
    height: 77%;
    width: 100%;
    margin-top: 20px;
}

.b1{
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
    color: #6d6d6d;

}
.c1{
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: lighter;
    color: #6B90BF;
    margin-top: 35px;

}
.c2{
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    color: #545454;
}

.img-logo{
    width: 55%;
}
.c3{
    font-weight: lighter;
    color: #545454;
    font-size: 15px;

}

.input-signin{
    border: #6B90BF 1px solid;
    height: 36px;
    width: 385px;
    /* margin: 20px 0; */
    font-size: 17px;
    padding-left: 10px;
    font-weight: lighter;
    color: black;
}

.content-bottom-con1{
    /* text-align: center; */
}

.c3, .input-signin{
    /* margin: 15px 0; */
    margin: 15px 101px;
}

.b2{
    float: left;
    width: 100%;
    height: 100px;
    margin-top: 30px;

} 

.b2-1{
    float: left;
    margin-left: 90px;
    
}
.b2-2{
    float: right;
    margin-right: 90px;
    
}

#bnt-dangnhap,
#bnt-huy{
    background-image: url(/images/button\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 55px;
    border-style: none;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}




footer { 
    margin-top: 30px;
    float: left;
    display: block;
    width: 100%;
    background:linear-gradient(#215769,#033e52);
    height: 50px;
    text-align: center;
  
}
p1 {
    color: white;
    text-align: center;
    line-height: 50px;
}

