

html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
   padding:0;
   height:100%;
}

header{
    
  margin: 0 auto;
  width: 100%;
  height: 450px;
}
.header-cha{
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/87098056441325324/ACEBC327098FA0F8E4A56E4FD7BB1CE37C7D2674/);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.header-logo{
  float: left;
  width: 100%;
  height: 50%;
  margin-bottom: 15px;

}

/* .search2{
  height: 100%;
  width: 100px;
} */

.h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo{
  margin-left: 5px;
  width: 220px;
  height: 190px;
}



.h1-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;

}

.search{
  width: 300px;
  height: 30px;
  border-radius: 20px;
  padding-left: 13px;
  font-size: 15px;
  font-style: italic;
}

/* .search1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 300px;
  color: white;
  border: white 1px solid;
  border-radius: 30px;
} */

.h2{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  
}

.a1,
.a2{
  line-height: 38px;
  margin-left: 10px;
  margin-right: 10px; 
  padding: 0 25px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: lighter;
}


.a1:hover,
.a2:hover{
  background: #6B90BF;
  cursor: pointer;
  color: white;
  border-radius: 50px;
  text-decoration: none;

}

.taophimmoi{
  background-color: #6B90BF;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.h3{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 12%;
  color: white;
}

.profile{
  margin: 0;
  border-radius: 30px 0 0 30px;
  line-height: 38px;
  background-color: #6B90BF;
  padding: 0 25px;
  font-size: 15px;
  text-decoration: none;
  font-weight: lighter;
  color: white;
}


.title4{
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: 50px
}
.content1{
  float: left;
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: center;
}

.content1-cha{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.content-left{
  float: left;
  width: 40%;
  height: 100%;
  /* position: relative; */

}

.content-img{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.img-chamh{
  height: 100%;
  width: 100%;
  /* background-size: cover;
  background-repeat: no-repeat; */
  object-fit: contain;
}


.chamh-btn-icon{
  transform: scale(0.87);
  /* color: #404859; */
  color: white;
  float: left;
  margin-left: 12px;
  margin-top: 2px;
}



.content-right{
  float: right;
  width: 50%;
  height: 100%;
  margin-left: 70px;

}

.form{
  display: grid;
  margin-top: 25px;
  font-size: 16px;
}

.form > input {
  height: 35px;
  margin-top: 5px;
  font-size: 16px;
}

.text{
  height: 25px;
  width: 45%;
  margin-top: 5px;
  padding-left: 5px;
}

.input-chung1{
  width: 61%;
}

.text2{
  float: right;
}

.form > select ,
.form > div > select{
  width: 100%;
  height: 35px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 14px;
}

.form > div > select{
  width: 45%;
  height: 35px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 14px;
}

.form > textarea {
  width: 100%%;
  height: 100px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 14px;
  font-style: italic;
  color: #636466
}

.form > div > input{
  width: 65.5%;
  height: 35px;
  margin-top: 5px;
  font-size: 14px;
  padding-left: 5px;

}

.header3{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 30px;


}



.content2{
  float: left;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}

.content2-cha{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.button-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;


}

.bt-chonhinhanh{
  border-radius: 28px;
  width: 220px;
  height: 40px;
}



.button-right{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 50%;
  height: 100%;
  margin-left: 70px;
}


.content2-bt{
  background-color: #6B90BF;
  box-shadow: 0 4px 0px #516d91;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}

.bt-huy{
  border-radius: 28px;
  width: 120px;
  height: 40px;
}

.content2-bt-xoa{
  background-color: red;
  box-shadow: 0 4px 0px #910d0d;

  font-size: 18px;
  color: white;
  text-transform: uppercase;

}

.bt-xoa{
  border-radius: 28px;
  width: 120px;
  height: 40px;
}

.bt-chinhsua{
  border-radius: 28px;
  width: 170px;
  height: 40px;
}

.icon-huy,
.icon-chinhsua,
.icon-chonhinhanh,
.icon-xoa{
  transform: scale(0.87);
  color: white;
  float: left;
  margin-left: 12px;
  margin-top: 2px;
}

.content2-bt:hover{
  background: #dadee8;
  cursor: pointer;
}

.content2-bt-xoa:hover{
  background: #edcece;
  cursor: pointer;
}



    
    footer { 
      margin: 0 auto;
      float: left;
      width: 100%;
      height: 70px;
      margin-top: 100px;
    
  }
  
  .footer-cha{
      margin: 0;
      width: 100%;
      height: 100%;
      background-image: url(https://steamuserimages-a.akamaihd.net/ugc/87098056441325324/ACEBC327098FA0F8E4A56E4FD7BB1CE37C7D2674/);
      transform: scale(-1);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0px -400px;
  }
  
  p1 {
      color: white;
      line-height: 60px;
      display: flex;
      justify-content: center;
      transform: scale(-1);
  }